{extend name="common/pub/base" /}
{block name="main"}
<el-row :gutter="20">
    <el-col :span="6">
        <div class="grid-content bg-purple el-icon-user-solid" style="width: 90%; border-radius: 10px; background-color: #0e90d2; color: #ffffff; line-height: 50px; padding-left: 20px">
            新增用户:30
        </div>
    </el-col>

    <el-col :span="6">
        <div class="grid-content bg-purple el-icon-shopping-cart-1" style="width: 90%; border-radius: 10px; background-color: #0aba4c; color: #ffffff; line-height: 50px; padding-left: 20px">
            新增订单:40
        </div>
    </el-col>

    <el-col :span="6">
        <div class="grid-content bg-purple el-icon-chat-line-square" style="width: 90%; border-radius: 10px; background-color: #0c7cb5; color: #ffffff; line-height: 50px; padding-left: 20px">
            新增文章:50
        </div>
    </el-col>

    <el-col :span="6">
        <div class="grid-content bg-purple el-icon-postcard" style="width: 90%; border-radius: 10px; background-color: #cccc77; color: #ffffff; line-height: 50px; padding-left: 20px">
            新增附件:20
        </div>
    </el-col>
</el-row>
{/block}

{block name="script"}
<script>
    const data = [];
    function f() {
        return {
            init:function () {
                console.log(1)
            }
        }
    }
</script>
{/block}