{extend name="common/pub/base" /}

{block name="title"}控制面板{/block}

{block name="main"}
    {include file="common/pub/breadcrumb" /}

    <!--在此位置渲染查询-->
<el-form label-width="auto">
    <div class="el-search-main">
        {$search_html|raw}

        <div class="el-form-item"><el-button type="primary" size="mini">查询</el-button></div>
        <div class="el-form-item"><el-button type="warning" size="mini">重置</el-button></div>
    </div>

</el-form>

    <el-button type="primary" @click="dialogFormVisible = true" icon="el-icon-plus">添加</el-button>
    <el-button type="danger"  @click="dialogFormVisible = true" icon="el-icon-delete">批量删除</el-button>

    <!--渲染表单，表单总是以弹窗的形式来表现-->
    <el-dialog title="添加/修改" v-model="dialogFormVisible">
        {$form_html|raw}
    </el-dialog>

    <div class="el-table-main">
        {$table_html|raw}
    </div>

{/block}

{block name="script"}
<script>
    const data = {
            form:{$form|raw},
            search:{$search|raw},

    }

    function f(){
        return {
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
        }
    }
</script>
{/block}