{extend name="common/pub/base" /}

{block name="title"}控制面板{/block}

{block name="main"}
    {include file="common/pub/breadcrumb" /}

    <!--在此位置渲染查询-->
<el-form label-width="auto">
    <div class="el-search-main">
        {$search_html|raw}

        <div class="el-form-item"><el-button type="primary" size="mini">查询</el-button></div>
        <div class="el-form-item"><el-button type="warning" size="mini">重置</el-button></div>
    </div>

</el-form>

    <el-button type="primary" @click="dialogFormVisible = true" icon="el-icon-plus">添加</el-button>
    <el-button type="danger"  @click="dialogFormVisible = true" icon="el-icon-delete">批量删除</el-button>

    <!--渲染表单，表单总是以弹窗的形式来表现-->
    <el-dialog title="添加/修改" v-model="dialogFormVisible">
        {$form_html|raw}
        <!--事件按钮-->
        <template #footer>
            <span class="dialog-footer">
              <el-button @click="dialogFormVisible = false">取 消</el-button>
              <el-button type="primary" @click="onSubmit('form')">确 定</el-button>
            </span>
        </template>
    </el-dialog>

    <div class="el-table-main">
        {$table_html|raw}

        <div class="el-page-main">
            <el-pagination
                    background
                    layout="prev, pager, next"
                    :total="count">
            </el-pagination>
        </div>
    </div>
{/block}

{block name="script"}
<script>
    const data = {
        form:{$form|raw},
        search:{$search|raw},
        rules:{$rules|raw},
    }
    function f(){
        return {
            onSubmit:function (form) {
                this.$refs[form].validate((valid) => {
                    if (valid) {
                        axios.post('{:url("$controller/post")}',this.form).then(function (response) {
                            if(response.data.code == 200){
                                this.$message.success(response.data.msg)
                            }else{
                                this.$message.error('初始化数据失败')
                            }
                        }).catch(function (error) {
                            console.log(error)
                        });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            onEdit:function (row) {
                this.form = row
                this.dialogFormVisible = true
            },
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
        }
    }
</script>
{/block}